/* 3 - External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
    font-size: 30px;
}

p {
    color: blueviolet;
}

/* 6 - Classes com CSS */ 
.paragraphs {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* 7 - ID's com CSS */ 
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* 8 - Ordens do CSS */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}