body {
    padding-bottom: 500px;
}

/* 1 - Flex */
.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px ;
}

/* 2 - Flex - column */

.flex-column {
    display: flex;
    flex-direction: column;
}

/* 3 - Wrap */

.wrap {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box {
    
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* 4 - Justify content */
.center {
display: flex;
margin-bottom: 20px;
justify-content: center;
}

.center .box {
    width: 50px;
}

.box
