/* 2 - Media query */

h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* 3 - min width */
p {
    background-color: blue;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 800px){
    p {
        background-color: rgb(216, 106, 106);
        color: rgb(17, 3, 3);
    }
}